[Unit]
Description=LazyLibrarian

[Service]
ExecStart=/usr/bin/python /opt/LazyLibrarian/LazyLibrarian.py --daemon --config /opt/LazyLibrarian/lazylibrarian.ini --datadir /opt/LazyLibrarian/.lazylibrarian --nolaunch --quiet
GuessMainPID=no
Type=forking
User=root
Group=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
