[Unit]
Description=Wetty Web Terminal
After=network.target

[Service]
User=root
Group=root

WorkingDirectory=/opt/wetty
ExecStart=/usr/local/bin/wetty -p 4000

[Install]
WantedBy=multi-user.target
